
:root {
    --primaryColor: #f09d51;
      --mainWhite: #fff;
      --mainBlack: #222;
      --mainGrey: #ececec;
      --mainSpacing: 0.1rem;
      --mainTransition: all 0.3s linear;
    }

    
.login-page{
    width: 350px;
    height:400px;
    padding: 10% 0 0;
    margin: auto;
}


.input-container {
 
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}



.input-field {
  background: var(--mainWhite);
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}